# Environment files
.env
.env.*
!.env.example

#Claude files
CLAUDE.md

# Frontend
client/node_modules/
client/dist/

# Backend
billingsoftware/target/

# IntelliJ
.idea/
*.iml

# Uploads
billingsoftware/uploads/*